<head>
  <title>Accounting page</title>
</head>

<body>

  <h1>Its accouting page</h1>
<div>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
    </tr>

    {% for item in DBresult %}
    <tr>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
  </table>
 </div>
<br></br>

<div>
  <form method="POST">
    {{ query_form.hidden_tag() }}
    {{ query_form.query() }}
    </form>
</div>

<br></br>

<div>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label  }} {{ form.name() }}
    {{ form.price.label }} {{ form.price() }}
    {{ form.submit() }}
  </form>
</div>
  
</body>
